RM.Web/MMS/StorageManagement/FinanceTotal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="FinanceTotal"
    targetNamespace="http://tempuri.org/FinanceTotal.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/FinanceTotal.xsd"
    xmlns:mstns="http://tempuri.org/FinanceTotal.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>


  <xs:element name="FinanceTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DeptName" type="xs:string" />
        <xs:element name="Amount" type="xs:float" />

      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  
</xs:schema>
